body{

	height: 100vh;
	width: 100vw;
	font-family: 'Noto Sans TC', sans-serif;
}
	div.st{
	
    height: 50vh;
	padding-top: 8%;
	}
  div.work_box{
    padding: 12px;

  }
	div.icon{
	
	width: 25px;
	height:25px;
	background-image: url('../image/icon/ig.png');
}

.work_d{
  width: 100%;
}

.container{

	    margin-bottom: 5vh;}