

.desktopMenu {
  position: fixed;
	width: 250px;
  padding: 5px;
  top: 82vh;
  height: 100vh;
	color: #fff;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: both;

  z-index: 10;
}



.Infinite {
	animation-iteration-count: infinite;
}

  .main-menu-item {
      font-family: 'Cormorant-SemiBold';
      color: #b6c3c2;
      margin-top: 10%;
      padding-left: 50px;
      letter-spacing: 3px;
      animation-name: flipInX;
 
      animation-fill-mode: both;
   
      cursor: pointer;
    }

.main-menu{
	margin-top: 50px;
}
.main-menu-item {
	padding-left: 50px;
	letter-spacing: 3px;
	animation-name: flipInX;
	animation-duration: 1s;
	animation-fill-mode: both;
	transition-duration: 1.5s;
  cursor: pointer;
}


.main-menu-item:hover {
	color: black;
}
.main-menu-item:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #575063;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration:0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.main-menu-item:hover:before, .main-menu-item:focus:before, .main-menu-item:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.pointer {
  cursor: pointer;
}



@media screen and (max-width: 1024px){

#main-menu {
    display: none;
  }
#mb-menu {
    display: block;


  }
.desktopMenu {

  width: 100%;
  top:95%;
  background-color: #333;
   height: 5%;
     
}
.main-menu-item{
  margin-top: 2%;
}
}


@media screen and (min-width: 1025px){

#main-menu {
    display: block;
  }
#mb-menu {
    display: none;
  }



}

