
div{
	    display: block;

}

.row{
      text-align: center;

}
.container{
    top: 8vh;
    position: relative;
}

.inner{
    top: 8%;
    position: absolute;
    height: 55vh;
    width: 96%;
    font-size: 4em;
  color: #FF5050;
  mix-blend-mode: difference;
  letter-spacing: 0;
  
  

  font-size: 2em;
  

}
img.workHead{

    width: 100%;


}

.workTitle{
	top: 35%;
  position: absolute;
  font-size: 2.5em;
  color: #fff;
  mix-blend-mode: difference;
  letter-spacing: 0;
  text-transform: uppercase;
width: 50%;
margin-left: 20%;
    margin-bottom: 2vh;

}

.boxfitted{


	vertical-align: middle;
	
	line-height: 100%;
	font-size: 110%;

}

.workInfo{

    text-align: left;
}

h4,h5{
  font-weight: 10;

  opacity: 0.7
}



#preview .work {

        position: relative;
    padding: 10px;
}


#preview .work .overlay {

    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.6s opacity;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

#preview .work:hover .overlay {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 0.6;
}


#preview .work .work-content {
    text-transform: capitalize;
    position: absolute;
    left: 5vw;
    top: 50%;
    text-align: left;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

#preview .work .work-content h3 {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    color:#9a9954;
    margin-bottom: 10px;
    -webkit-transition: .2s all;
    transition: .2s all;
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    font-size: 20px;
    line-height: 24px;
}

#preview .work:hover .work-content h3 {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 0.7;
    -webkit-transition-delay: .1s;
    transition-delay: .1s
}

#preview .work .work-content span {
     font-style: italic;
         color: #8d94a29c;
    display: block;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    -webkit-transition: .2s all;
    transition: .2s all;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    font-size: 14px;
    line-height: 18px;
}

#preview .work:hover .work-content span {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 0.7;
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}















































